.color-square {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    transition: box-shadow 0.2s ease-in-out;
}

.color-square.selected {
    box-shadow: 0 0 0 2px var(--p-surface-950);
}

.color-square.selected.dark-mode {
    box-shadow: 0 0 0 2px var(--p-surface-0);
}
