<p-card
    class="tile"
    (click)="click()"
    [style]="{
        height: '100%',
        width: '100%',
        'background-image': albumArt ? 'url(' + albumArt + ')' : 'none',
        'background-size': 'cover',
        'background-repeat': 'no-repeat',
        'background-position': 'center'
    }"
    [style.cursor]="'pointer'"
>
    <p-button
        icon="pi pi-step-backward"
        (click)="skipToPrevious(); $event.stopPropagation()"
    >
    </p-button>
    <p-button
        icon="pi pi-step-forward"
        (click)="skipToNext(); $event.stopPropagation()"
    >
    </p-button>
</p-card>
