<p-drawer
    [(visible)]="isVisible"
    [dismissible]="false"
    class="bg-opacity-70 border-none shadow-none"
>
    <h2 class="text-3xl font-semibold">Settings</h2>

    <p-divider />
    <app-user-settings></app-user-settings>

    <p-divider />
    <app-appearance-settings></app-appearance-settings>

    <p-divider />
    <p class="font-semibold text-lg">Unsplash</p>
    <app-unsplash-auth></app-unsplash-auth>

    <p-divider />
    <p class="font-semibold text-lg">Spotify</p>
    <app-spotify-auth></app-spotify-auth>
</p-drawer>

<p-button
    (click)="open()"
    icon="pi pi-cog"
    class="mt-4 ml-4"
>
</p-button>
