@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

body {
    font-family: "Jost", sans-serif;
    background-color: var(--p-surface-100);
}

body.dark-mode {
    background-color: var(--p-surface-800);
}
